.accordion {
  background-color: #eee;
  color: #444;
  width: 100%;
  padding: 18px;
}

.activated {
  padding: 0 18px;
  background-color: white;
  max-height: 1000px;
  transition: max-height 0.4s ease;
}

.hidden {
  overflow: hidden;
  padding: 0 18px;
  background-color: white;
  max-height: 0px;
  transition: max-height 0.4s ease;
}
